{% extends "index.html" %}

{% block title %}home{% endblock title %}

{% block content %}

<main>
    <h1>Subjects</h1>

    <p>All subjects at one place</p>

    <span class="material-symbols-outlined subject_option" onclick="dropAll(['subject_list', 'options'])">
        add
    </span>

    <div class="options class_options">
        <a href="#" class="option option1" onclick="dropSubject('create_section_form')">
            <span class="material-symbols-outlined">
                add
            </span>
            <p>Add Subject</p>
        </a>
        <a href="#" class="option option2" onclick="appier('delete_section')">
            <span class="material-symbols-outlined">
                delete
            </span>
            <p>Delete Subject</p>
        </a>
    </div>
    <div class="subject_list">

        {% if subjects|length == 0 %}
            <a class="subject"><h1>Empty</h1></a>
        {% endif %}
        
        {% for sub in subjects %}
        <a href="{% url 'subject_detail' sub.subject_id %}" class="subject">
            <h1>{{ sub.title|truncatechars:20 }}</h1>
            <p>{{ sub.description|truncatechars:50 }}</p>
        </a>
        <a href="{% url 'deleteSubject' sub.subject_id %}" class="delete_section">
            <span class="material-symbols-outlined">
                delete
            </span>
        </a>
        
        {% endfor %}

    </div>
    <div class="create_section_form">
        <form method="post">

            {% csrf_token %}
        
            <h1>Create Subject</h1>
        
            <input type="text" name="title" placeholder="Title" required minlength="1">
            <input type="text" name="description" placeholder="Description" required>
            <div class="btns">
                <button type="button" class="closebtn" onclick="dropSubject('create_section_form')">Close</button>
                <button type="submit" value="create">Create</button>
            </div>
        </form>
    </div>
</main>

{% endblock content %}
